:root {
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
    --color-theme-product-text: #26251eeb;
    --color-theme-border-02: color-mix(in oklab, var(--color-theme-fg)10%, transparent);
    --color-theme-border-01: color-mix(in oklab, var(--color-theme-fg)2.5%, transparent);
    --color-theme-accent: #f54e00;
}

@font-face {
    font-family: CursorGothic;
    src: url(/assets/fonts/CursorGothic-Regular.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}


body {
    background-color: #808080;
    background-color: var(--color-theme-bg);
    min-height: 120vh;
    font-family: 'CursorGothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-theme-fg);

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121109;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    transform: translateX(-2px);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 1300px;
    margin: auto;
}

.header-container a {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header-container nav ul {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    list-style-type: none;
    color: var(--color-theme-fg);
    /* letter-spacing: 0.005em; */
}

.nav-btn {
    padding: 5.6px 16px;
}

.nav-btn-1 {
    padding-left: 83px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.btn-sn {
    border: solid #403f37 1px;
    border-radius: 25px;
    padding: 3.545px 10.5px 3.425px;
}

.btn-dl {
    border: solid var(--color-theme-fg) 1px;
    background-color: var(--color-theme-fg);
    color: #121109;
    border-radius: 25px;
    padding: 4px 10px;
    padding: 3.1px 10.5px 3px;
}


.main-sections {
    max-width: 1300px;
    margin: auto;
    padding: 0px 20px;
}

.section-1 {
    padding: 112px 20px 67.2px;
}

.hero-section {
    width: 658px;
    margin-bottom: 56px;
}

.hero-section h1 {
    font-size: 26px;
    font-size: 1.625rem;
    text-align: left;
    text-wrap: balance;
    color: var(--color-theme-fg);
    margin-bottom: 22.4px;
}

.cta-btn {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    padding: 12.48px 21.6px;
    border-radius: 50px;
    display: inline-block;
}

.bg-1 {
    background-image: url(assets/images/bg-1.webp);
    background-position: center;
    background-size: cover;
    height: 680px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.editor {
    position: absolute;
}

.editor img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.editor-main {
    width: 1025px;
    box-shadow: 0 28px 70px rgba(0, 0, 0, 0.14), 0 14px 32px rgba(0, 0, 0, 0.1), 0 0 0 1px var(--color-theme-border-02);
    /* I have copied these values from cursor website with help of dev tools */
}

.editor-float {
    width: 420px;
    position: absolute;
    right: 63px;
    bottom: 48px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-theme-fg);
    font-size: 14px;
    padding-bottom: 33.6px;
}

.section-2 p {
    margin-bottom: 22.4px;
}

.brand-cards{
    display: flex;
    gap: 10px;
}


.brand-card img{
    height: 40px;
}

.brand-card{
    background-color: var(--color-theme-card-hex);
    padding: 0px 7.5px;
    width: 138px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px var(--color-theme-border-01);
}

.section-3 {
    padding: 67.2px 0px;
}

.section-3-container{
    padding: 17.5px;
    background-color: var(--color-theme-card-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    height: 650px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.sec-3-left {
    display: flex;
    align-items: center;
}
.sec-3-content h3{
    color: var(--color-theme-fg);
    font-size: 22px;
}
.sec-3-content p{
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 22px;
}
.sec-3-content div{
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.sec-3-right {
    background-image: url(assets/images/bg-2.webp);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-3 {
    width: 680px;
    box-shadow: 0 28px 70px rgba(0, 0, 0, 0.14), 0 14px 32px rgba(0, 0, 0, 0.1), 0 0 0 1px var(--color-theme-border-02);
}