:root {
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
    --color-theme-product-text: #26251eeb
}

@font-face {
    font-family: CursorGothic;
    src: url(/assets/fonts/CursorGothic-Regular.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}


body {
    background-color: #808080;
    /* background-color: var(--color-theme-bg); */
    min-height: 120vh;
    font-family: 'CursorGothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-theme-fg);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121109;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 20px;
}

.logo {
    transform: translateX(-2px);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 1300px;
    margin: auto;
}

.header-container a {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header-container nav ul {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    list-style-type: none;
    color: var(--color-theme-fg);
    /* letter-spacing: 0.005em; */
}

.nav-btn{
    padding: 5.6px 16px;
}
.nav-btn-1{
    padding-left: 83px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.btn-sn {
    border: solid #403f37 1px;
    border-radius: 25px;
    padding: 3.545px 10.5px 3.425px;
}

.btn-dl {
    border: solid var(--color-theme-fg) 1px;
    background-color: var(--color-theme-fg);
    color: #121109;
    border-radius: 25px;
    padding: 4px 10px;
    padding: 3.1px 10.5px 3px;
}