:root {
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-05: #26251e0d --color-theme-fg-02: #d7d6d5;
    --color-theme-fg-02-5: #26251e06;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
    --color-theme-product-text: #26251eeb;
    --color-theme-border-02: color-mix(in oklab, var(--color-theme-fg)10%, transparent);
    --color-theme-border-01: color-mix(in oklab, var(--color-theme-fg)2.5%, transparent);
    --color-theme-accent: #f54e00;
    --color-theme-card-02: linear-gradient(var(--color-theme-fg-02-5)0% 100%), linear-gradient(var(--color-theme-card-hex)0% 100%);
    /* --color-theme-card-03-hex: #e6e5e0; */
    --color-theme-card-03: linear-gradient(var(--color-theme-fg-05)0% 100%), linear-gradient(var(--color-theme-card-hex)0% 100%);
    --color-theme-card-04-hex: #e1e0db;
}

@font-face {
    font-family: CursorGothic;
    src: url(./assets/fonts/CursorGothic-Regular.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}


body {
    background-color: var(--color-theme-bg);
    min-height: 120vh;
    font-family: 'CursorGothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-theme-fg);

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121109;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    transform: translateX(-2px);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 1300px;
    margin: auto;
}

.header-container a {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header-container nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: var(--color-theme-fg);
}

.nav-btn {
    padding: 5.6px 16px;
}

.nav-btn-1 {
    padding-left: 83px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.btn-sn {
    border: solid #403f37 1px;
    border-radius: 25px;
    padding: 3.545px 10.5px 3.425px;
}

.btn-dl {
    border: solid var(--color-theme-fg) 1px;
    background-color: var(--color-theme-fg);
    color: #121109;
    border-radius: 25px;
    padding: 4px 10px;
    padding: 3.1px 10.5px 3px;
}


.main-sections {
    max-width: 1300px;
    margin: auto;
    padding: 0px 20px;
}

.section-1 {
    padding: 112px 20px 67.2px;
}

.hero-section {
    width: 658px;
    margin-bottom: 56px;
}

.hero-section h1 {
    font-size: 26px;
    text-align: left;
    text-wrap: balance;
    font-weight: normal;
    line-height: 32.5px;
    color: var(--color-theme-fg);
    margin-bottom: 22.4px;
    letter-spacing: -0.325px;
    line-height: 32.5px;
    text-align: left;
    text-wrap-mode: wrap;
}

.cta-btn {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    padding: 12.48px 21.6px;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    box-sizing: border-box;
    border: 1px solid var(--color-theme-fg);
    margin-bottom: 7.5px;

}

.cta-btn span {
    font-feature-settings: "ss08";
    padding-left: 0.4px;
}

.bg-1 {
    background-image: url(assets/images/bg-1.webp);
    background-position: center;
    background-size: cover;
    height: 680px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.editor img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 28px 70px rgba(0, 0, 0, 0.14), 0 14px 32px rgba(0, 0, 0, 0.1), 0 0 0 1px var(--color-theme-border-02);
}

.editor-main img {
    width: 1040px;
    /* transform: translateY(15px); */
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-theme-fg);
    font-size: 14px;
    padding-bottom: 33.6px;
}

.section-2 p {
    margin-bottom: 22.4px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.14px;
    line-height: 21px;
    text-align: center;
}

.brand-cards {
    /* width: 1300px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}


.brand-card img {
    height: 40px;
}

.brand-card {
    background-color: var(--color-theme-card-hex);
    padding: 0px 7.5px;
    /* width: 138px; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px var(--color-theme-border-01);
    box-sizing: border-box;
}

.section-3 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
    font-weight: normal;
    letter-spacing: -0.11px;
    line-height: 28.6px;
}

.section-3-1 {
    margin-bottom: 89.6px;
}

.section-3-1-container {
    padding: 17.5px;
    background-color: var(--color-theme-card-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    height: 680px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 10px;
}

.sec-3-1-left {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.sec-3-1-content h3 {
    color: var(--color-theme-fg);
    font-size: 22px;
}

.sec-3-1-content p {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 22px;
}

.sec-3-1-content div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.sec-3-1-right {
    background-color: #49433a;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.editor-3-1 img {
    height: 600px;
    transform: translate(24px);
}

.section-3-2 {
    margin-bottom: 89.6px;
}

.section-3-2-container {
    padding: 17.5px;
    background-color: var(--color-theme-card-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 10px;
}

.sec-3-2-right {
    display: flex;
    align-items: center;
}

.sec-3-2-content {
    padding-left: 30px;
    padding-right: 2.5px;
}

.sec-3-2-content h3 {
    color: var(--color-theme-fg);
    font-size: 22px;
    font-weight: normal;
}

.sec-3-2-content p {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 22px;
}

.sec-3-2-content div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.sec-3-2-left {
    background-image: url(assets/images/internal-brand-023.webp);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-3-2 img {
    width: 680px;
}







.section-3-3-container {
    padding: 17.5px;
    background-color: var(--color-theme-card-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    height: 650px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 10px;
}

.sec-3-3-left {
    display: flex;
    align-items: center;
}

.sec-3-3-content {
    padding: 0px 44px 0px 2.5px;
}

.sec-3-3-content h3 {
    color: var(--color-theme-fg);
    font-size: 22px;
    font-weight: normal;
}

.sec-3-3-content p {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 22px;
}

.sec-3-3-content div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.sec-3-3-right {
    background-image: url(assets/images/bg-4.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 4px;
}

.editor-3-31 {
    width: 540px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.editor-3-32 {
    width: 540px;
    position: absolute;
    right: 65px;
    bottom: 32px;
    z-index: 3;
}

.section-4 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
}

.testimonials-heading h2 {
    font-size: 36px;
    text-align: center;
    color: var(--color-theme-fg);
    padding-bottom: 56px;
    letter-spacing:-0.72px;
    font-weight: normal;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.tml-card {
    background-color: var(--color-theme-card-hex);
    padding: 15.9px 17.5px 17.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 205px;
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
}

.quote-container {
    color: var(--color-theme-fg);
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.08px;
}
/* 
..quote-container p {

} */

.author-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-image img {
    width: 40px;
    border-radius: 5px;
}

.author-details h2 {
    color: var(--color-theme-fg);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.14px;
    line-height: 21px;
}

.author-details p {
    font-size: 14px;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
}

.quote-author-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-5 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
}

.frontier-section {
    margin: 44.8px 0px;
}

.frontier-section-heading h2 {
    font-size: 26px;
    text-align: left;
    color: var(--color-theme-fg);
    margin-bottom: 22.4px;
    font-weight: normal;
    letter-spacing: -0.325px;
    line-height: 32.5px;
}


.frontier-section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.frontier-card {
    background-color: var(--color-theme-card-hex);
    padding: 15.9px 17.5px 17.5px;
    display: flex;
    flex-direction: column;
    min-height: 245px;
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    height: 520px;
}

.frontier-card-header h3 {
    color: var(--color-theme-fg);
    font-size: 16px;
    font-weight: normal;
    font-variation-settings: normal;
    letter-spacing: 0.08px;
    line-height: 24px;
    tab-size: 4;
}

.frontier-card-header p {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 16px;
    font-variation-settings: normal;
    letter-spacing: 0.08px;
    line-height: 24px;
    tab-size: 4;
}

.frontier-card-header div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.frontier-card-1-body {
    background-color: #26241e;
    height: 100%;
    margin-top: 16.4px;
    border-radius: 4px;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontier-card-1-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transform: translateY(-20px);
}

.frontier-card-2-body {
    background-color: #3c3935;
    height: 100%;
    margin-top: 16.4px;
    border-radius: 4px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontier-card-2-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.frontier-card-3-body {
    background-color: #433e35;
    height: 100%;
    margin-top: 16.4px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.frontier-card-3-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}




.section-6 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
}

.changelog-section-heading h2 {
    font-size: 26px;
    text-align: left;
    color: var(--color-theme-fg);
    margin-bottom: 22.4px;
    font-weight: normal;
}

.changelog-card {
    background-color: var(--color-theme-card-hex);
    padding: 15.9px 17.5px 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
}

.changelog-info {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    display: flex;
    align-items: center;
    gap: 12.8px;
    position: relative;
    left: -1px;
}

.changelog-version {
    border: solid 1px;
    padding: 3.920px 9.1px 4.060px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
}

.changelog-message {
    color: var(--color-theme-fg);
    margin-top: 13.067px;
    font-size: 16px;
    line-height: 24px;
}

.changelog-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog-cta div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 22.4px;
}

.section-7-container {
    padding: 17.5px;
    background-color: var(--color-theme-card-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 10px;
}

.sec-7-left {
    display: flex;
    align-items: center;
}

.sec-7-content {
    padding: 0px 30px 0px 2.5px;
}

.sec-7-content h3 {
    color: var(--color-theme-fg);
    font-size: 22px;
    font-weight: normal;
}

.sec-7-content div {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 15px;
}

.sec-7-right {
    background-color: #fff;
    height: 472.5px;
    border-radius: 4px;
    background-image: url(assets/images/homepage-team-photo.webp);
    background-position: center;
    background-size: cover;
}

.section-7 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
    margin-bottom: 89.6px;
}

.section-8 {
    background-color: var(--color-theme-card-hex);
    margin-top: 67.2px;
    padding: 89.6px 20px;
}

.section-8-container {
    height: 500px;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.section-8-heading h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-theme-fg);
}

.highlights-card {
    background-color: var(--color-theme-card-02-hex);
    border: solid 1px var(--color-theme-border-01);
    border-radius: 4px;
    padding: 13.4px 15px 15px 15px;
    height: 118.4px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    margin-bottom: 10px;
}

.highlights-card-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights-card-content h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: var(--color-theme-fg);
}

.highlights-card-content p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    text-wrap: pretty;
}

.highlights-card-info {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
}

.highlights-cta {
    color: var(--color-theme-accent);
    font-size: 16px;
    margin-top: 22.4px;
}

.section-9 {
    padding: 134.4px 20px;
}

.section-9-container h2 {
    font-size: 72px;
    line-height: 79.2px;
    font-weight: normal;
    text-align: center;
    color: var(--color-theme-fg);
    margin-bottom: 22.4px;
    letter-spacing: -2.16px;
    line-height: 79.2px;
}

.section-9-cta {
    display: flex;
    justify-content: center;

}

.section-9-cta a {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    font-size: 16px;
    padding: 12.4px 21.6px;
    border-radius: 150px;
}

.cta-btn-2 span {
    font-feature-settings: "ss08";
    padding-left: 0.4px;
}

.footer-container {
    padding: 67.2px 20px 30px 20px;
    background-color: var(--color-theme-card-hex);

}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 100.8px;
}

.footer-grid-item h3 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.14px;
    line-height: 21px;
    tab-size: 4;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    padding-bottom: 4.667px;
}

.footer-grid-item ul {
    list-style-type: none;
}

.footer-grid-item ul li {
    list-style-type: none;
    color: var(--color-theme-fg);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.14px;
    line-height: 21px;
    padding: 4.667px 0px;
}

.footer-info-bar {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-info-left {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.14px;
    /* line-height: 21px; */
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    display: flex;
    gap: 15px;
}

.footer-info-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.theme-icons {
    background-color: var(--color-theme-card-03-hex);
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    font-size: 14px;
    border-radius: 100px;
    display: flex;
    padding: 2px;
}

.theme-icon-option {
    padding: 5.6px 10.5px;
    line-height: 14px
}

.icon-dark {
    color: var(--color-theme-fg);
    background-color: #3a3833;
    border-radius: 50px;
    border: solid 1px var(--color-theme-border-01);
}


.lang-options {
    background-color: var(--color-theme-card-03-hex);
    color: var(--color-theme-fg);
    font-size: 14px;
    border-radius: 100px;
    display: flex;
    gap: 5px;
    padding: 5.6px 10.5px;

}

.lang-options span {
    /* padding: 5.6px 10.5px; */
}